.login-button {
    background-color: #4275f5;
    border: 1px;
    padding: $s-size;
    font-size: 18px;
    color: aliceblue;
}
.button{
    background: $blue;
    color:white;
    border: none;
    padding: $s-size;
    font-weight: 300;
    font-size: $font-size-large;
    display: inline-block;
    text-decoration: none;
    line-height: 1;
}
.button--logout{
    background: none;
}
.button--secondary{
    background: #888888;
}