//rem - by default 1rem=16px
html {
    font-size: 62.5%;
    //62,5% * 16px = 10px Thanks to it 1rem is translated to 10px
}
body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: $m-size;
}
button{
    cursor: pointer;
}
button:disabled{
    cursor: default;
}
.is-active{
    font-weight: bold;
}
